@import "../styles/index";

.layout {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-top: 3rem;

  .container {
    padding: 3rem 1.5rem;
    width: 100%;

    @include sm {
      width: $small-width;
    }
    @include md {
      width: $medium-width;
    }
    @include lg {
      width: $large-width;
    }
    @include xl {
      width: $x-large-width;
    }
  }
}
