@import "../styles/index";

.card {
  display: flex;
  align-items: center;
  background-color: $white;
  border: 1px solid $border-grey;
  border-radius: 5px;
  height: 3.5rem;
  padding: 0 2rem;

  .product,
  .article {
    .column {
      display: flex;
      justify-content: center;
      font-family: "Work Sans", sans-serif;
      font-weight: 500;
    }
  }
  .article {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .selector {
      width: 3rem;
    }
    .id {
      width: 5rem;
    }
    .name {
      width: 100%;
      padding-left: 1rem;
      justify-content: flex-start;
    }
  }
  .product {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .productData {
      display: flex;
      flex: 2;

      .name {
        padding-left: 1rem;
        justify-content: flex-start;
      }
    }

    .separator {
      display: flex;
      flex-grow: 1;
      width: 100%;
    }

    .articles {
      display: flex;
      flex: 2;
      flex-grow: 1;
      justify-content: flex-end;
      width: 100%;

      .article {
        padding: 0 1rem;
      }
    }
  }
}
